<h2>Alert {{{card.data.alertName}}} firing</h2>

<iframe id="grafanaPanel" width="100%" height="400" frameborder="0"></iframe>

<script>
    cardTemplate = {
        initDashboard: function() {
            const opfabTheme = document.body.getAttribute("opfab-theme");
            let grafanaTheme = "dark";
            if (opfabTheme === "DAY") grafanaTheme = "light";

            const panelUrl = opfab.currentCard.getDisplayContext() === "archive"
                ? "{{{card.data.archivePanelUrl}}}&theme=" + grafanaTheme
                : "{{{card.data.panelUrl}}}&theme=" + grafanaTheme;
            document.getElementById("grafanaPanel").setAttribute("src", encodeURI(panelUrl));
        }
    }

    cardTemplate.initDashboard();
    opfab.currentCard.listenToStyleChange(() => {
        cardTemplate.initDashboard();
    });
</script>