<h2>Alert {{{card.data.alertName}}} firing</h2>

<iframe id="panel" src="" width="100%" height="400" frameborder="0"></iframe>

<script>

    cardTemplate = {
        initDashboard: function() {
            let grafanaTheme = "dark";
            let opfabTheme = document.body.getAttribute("opfab-theme");
            if (opfabTheme == "DAY") 
                grafanaTheme="light";

            let source = "{{{card.data.panelUrl}}}&theme=" + grafanaTheme;
            document.getElementById('panel').setAttribute("src", encodeURI(source));
            
        }
    }
    cardTemplate.initDashboard();
    opfab.currentCard.listenToStyleChange(() => {
        cardTemplate.initDashboard();
    });

</script>